*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
angular-sdk/
**server/output/CR6s/*.docx
**server/output/CR7s/*.docx
**server/output/CR8s/*.docx
**server/output/shareholders_list/*.docx